---
export interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a href={href} class="smallcard fadeIn">
  <article>
    <h2>{title}</h2>
  </article>
</a>

<style>
  .smallcard {
    display: block;
    background-color: var(--bg1);
    color: var(--fg0);
    padding: 1.5em;
    padding-top: 0;
    border-radius: 0.5em;
    width: 15em;
    height: 5em;
    margin: 0.5em;
    text-decoration: none;
    transition: background-color 0.35s ease;
    text-align: center;
    align-content: center5;
  }
  .smallcard:hover,
  .smallcard:active. .smallcard:focus {
    background-color: var(--accent);
  }
</style>
